whisper

# installing required libraries in my_env
transformers==4.37.2
torch==2.6.0 
gradio==5.23.2 
langchain==0.0.343 
ibm_watson_machine_learning==1.0.335 
huggingface-hub==0.28.1
requests
gradio

#NOTE: this project depends also on the following libraries:
# ffmpeg but it was installed direct into the windows system